{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="mb-4">Películas de Acción</h1>

<div class="row">
    {% for pelicula in peliculas %}
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <img src="{% static pelicula.imagen %}" class="card-img-top" alt="{{ pelicula.nombre }}">
            <div class="card-body">
                <h4>{{ pelicula.nombre }}</h4>
                <p class="mb-0">Edad recomendada: {{ pelicula.edad }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}